<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.3.8000.0" authCookieName=".SFAUTH-TestDotNetCoreSiteFinity" rolesCookieName=".SFROLES-TestDotNetCoreSiteFinity" validationKey="6DABB57A0BF404389E2623DD76F88403723B615E4198234243F283AD0037B342722CB3C92E0E84A180CB35C07B7CE1D63123D0805F19FA7ABEE32A54C98C6529" decryptionKey="6438A5A260466DE50E94DF2BCEF588B283BB8287DBBF245D566749A2DA74417F" loggingCookieName=".SFLOG-TestDotNetCoreSiteFinity">
	<securityTokenIssuers>
		<add key="2D9C38C57BEFD72082916A29ED3C6AD444D908820651A49CA9126E74EEB610A2" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="2D9C38C57BEFD72082916A29ED3C6AD444D908820651A49CA9126E74EEB610A2" realm="http://localhost" />
	</relyingParties>
</securityConfig>